.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.btn-link {
  font-weight: 400;
  // background-color: ;
  // border: ;
  color: #007bff;
}

// .jumbotron {
//   height: 450px;
//   padding: 2rem 1rem;
//   margin-bottom: 2rem;
//   border-radius: 0.3rem;
//   background-image: url("./land2.jpg");
//   background-size: 100% 100%;
// }

// .main-view {
//   background-color: #0f171e;
// }
