// html,
// body {
//   width: 100%;
//   height: 100%;
// }
* {
  font-family: Verdana, Tahoma, sans-serif, Helvetica, sans-serif;
}

.navbar {
  background-color: #3c3c3c;
  padding: 1% 0;
  font-size: 1.2em;
}

.navbar-brand a,
.login-register .btn,
.navbar a,
.nav-link,
#basic-nav-dropdown,
.navbar-nav a {
  color: #d6d1d5;
  text-decoration: none;
}

.login-btn:hover {
  background-color: #cf6766;
  color: white;
}

.login-btn {
  // border: 1px solid #8eaebd;
  background-color: #8eaebd;
  color: white;
  padding: 3px 20px;
}

.main-view {
  background-color: #031424;
}
