.main-footer {
  background-color: #3c3c3c;
  padding: 1% 0;
  font-size: 1.2em;
  color: #d5d5d5;
}

.hr-color {
  background-color: #cf6766;
}

.footer-social a {
  color: #cf6766;
  margin-right: 10px;
  font-size: 10px;
}
